<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue-boolzapp</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>

        <div id="root">

            <div class="external-container">
                <div class="external-container-layer">
                    <div class="container">

                        <div class="left-box">
                            <header class="user-header">

                                <div class="user-avatar">
                                    <img src="avatars/avatar_1.png" alt="">
                                </div>

                                <div class="user-buttons">
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>

                            </header>

                            <div class="user-notifications">
                                <div class="notification-bell">
                                    <i class="fas fa-bell-slash"></i>
                                </div>
                                <div class="notifications-text">
                                    <p class="upper-p">Ricevi notifiche di nuovi messaggi</p>
                                    <p class="bottom-p"><a href="#">Attiva notifiche desktop</a></p>
                                </div>
                            </div>

                            <div class="contacts-box">

                                <div class="search-box">
                                    <div class="search-icon">
                                        <i class="fas fa-search"></i>
                                    </div>

                                    <div class="search-input">
                                        <input v-model="contact_search" type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
                                    </div>

                                </div>

                                <div class="contact-list">
                                    <ul @click="hideAllDropdownMenus()">
                                        <li v-for="(contact, index) in contacts" @click="getContactIndex(contact)"  :class="index == chosen_contact_index ? 'active' : ''" v-if="contactFilter(contact.name)">
                                            <div class="contact-left">
                                                <img :src="getImgUrl(contact)"  alt="">
                                                <div class="contact-name-and-status">
                                                    <span>{{contact.name}}</span>
                                                    <span>{{contact.messages[getLastMessageIndex(index)].message}}</span>
                                                </div>
                                            </div>
                                            <div class="contact-right">
                                                <span>{{contact.messages[getLastMessageIndex(index)].hour.substring(0,5)}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <div class="chat-box">
                            <header class="chat-header">
                                <div class="chat-avatar">
                                    <div class="contact-left">
                                        <img :src="getChosenImgUrl(contacts[chosen_contact_index])"  alt="">
                                        <div class="contact-name-and-lastacces">
                                            <span>{{contacts[chosen_contact_index].name}}</span>
                                            <span v-if="contacts[chosen_contact_index].messages[getLastMessageIndex(chosen_contact_index)].status != 'no_messages'">Last message  {{contacts[chosen_contact_index].messages[getLastMessageIndex(chosen_contact_index)].date}}
                                            {{contacts[chosen_contact_index].messages[getLastMessageIndex(chosen_contact_index)].hour.substring(0,5)}} </span>
                                            <span v-if="contacts[chosen_contact_index].messages[getLastMessageIndex(chosen_contact_index)].status == 'no_messages'">No messages found...</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="chat-buttons">
                                    <i class="fas fa-search"></i>
                                    <i class="fas fa-paperclip"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </header>
                            <div class="chat-messages">
                                <div class="message" v-for="(message_info,index) in contacts[chosen_contact_index].messages" :class="getTypeOfMessage(message_info,index)">
                                    <i v-if="message_info.status != 'no_messages'" @click="clickToggle(message_info,index)" class="fas fa-angle-down menu-icon"></i>
                                    <div :class="message_info.clicked ? 'message-menu active' : 'message-menu hidden'">
                                        <div class="info">
                                            Message info
                                        </div>
                                        <div @click="deleteMessage(index)" class="delete-message">
                                            Delete message
                                        </div>
                                    </div>
                                    <span>{{message_info.message}}</span>
                                    <span class="hour">{{message_info.hour.substring(0,5)}}</span>
                                </div>
                            </div>
                            <footer class="writemessage-box">
                                <i class="far fa-smile"></i>
                                <input v-model="written_message" @keyup.enter="addMessage" type="text" name="" value="" placeholder="Scrivi messaggio">
                                <i class="fas fa-microphone"></i>
                            </footer>

                        </div>


                    </div>
                </div>
            </div>


        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
