/* STILE GENERALE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

i{
    cursor: pointer;sent
}

/* SFONDO */
.external-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 0%,#009688 20%,#d9dbd5 20%,#d9dbd5 100%);
}

.external-container-layer{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENITORE APPLICAZIONE */
.container{
    width: 85%;
    height: 90%;
    background: white;
    display: flex;
}

/* SEZIONE DI DINISTRA */
.left-box{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: red;
}

.left-box i{
    cursor: pointer;
}

/* _________HEADER_SINISTRA_________ */
.user-header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    background: #ededed;
    border-right: 1px solid lightgrey;
}

.user-header img{
    height: 45px;
    width: 45px;
    margin-left: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.user-avatar{
    display: flex;
    align-items: center;
}

.user-buttons{
    height: 100%;
    display: flex;
    align-items: center;
}

.user-buttons i{
    font-size: 20px;
    padding: 0 4px;
    color:grey;
}

 /* _________BOX_ATTIVAZIONE_NOTIFICHE_________*/
.user-notifications{
    height: 10%;
    display: flex;
    align-items: center;
    background: lightblue;
}

.notification-bell{
    height: 45px;
    width: 45px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
}

.notification-bell i{
    font-size: 20px;
    color: lightblue;
}

.notifications-text{
    margin-left: 5px;
}

.notifications-text .upper-p{
    font-size: 14px;
}

.notifications-text .bottom-p{
    font-size: 12px;
    color: lightgrey;

}

.notifications-text .bottom-p a{
    color: grey;

}

/* ___________BOX_RICERCA_CONTATTI____________ */
.contacts-box{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
}

.search-box{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ededed;
}

.search-icon{
    width: 15%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #919191;
    border-radius: 4px;
}

.search-input{
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4px;
}

.search-input input{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
}

.contact-list{
    height: 100%;
    background: white;
    overflow-y: scroll;
}

.contact-list li{
    border-bottom: 1px solid whitesmoke;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-list li.active{
    background: whitesmoke;
}

.contact-list img{
    height: 45px;
    width: 45px;
    margin: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-left{
    display: flex;
    align-items: center;
}

.contact-name-and-status{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-name-and-status span:last-of-type{
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}

.contact-right{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(0,0,0,0.4);
}

.contact-right span{
    margin-right: 3px;
}

/* SEZIONE DI DESTRA */
.chat-box{
    width: 70%;
    height: 100%;
    display: flex;
    flex-grow: 10;
    flex-direction: column;
}

/* _________HEADER_DESTRA_________ */
.chat-header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    background: #ededed;
}

.chat-avatar{
    display: flex;
    align-items: center;
}

.chat-buttons{
    height: 100%;
    display: flex;
    align-items: center;
}

.chat-buttons i{
    font-size: 20px;
    padding: 0 4px;
    color:grey;
}

.chat-avatar img{
    height: 45px;
    width: 45px;
    margin: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-name-and-lastacces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-name-and-lastacces span:last-of-type{
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}

 /*______________CHAT_MESSAGES_____________ */
.chat-messages{
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    background-image:url('chatBackground/chatbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.chat-messages > div:first-of-type{
    margin-top: 40px;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
    position: relative;
}
.message:last-of-type{
    margin-bottom: 10px;
}

.message:hover i.menu-icon{
    display: block;
}

i.menu-icon{
    font-size: 18px;
    position: absolute;
    transform: translate(-50%,0);
    top: 3px;
    right: 3px;
    color: rgba(0,0,0,0.3);
    display: none;
}

.message-menu{
    position: absolute;
    width: 100px;
    right: 0px;
    top: 20px;
    z-index: 1;
    opacity: 95%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 24px 5px rgba(0,0,0,0.55);
}

.info,.delete-message{
    padding: 10px 5px;
}

.delete-message:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.message-menu.hidden{
    display: none;
}
.message-menu.active{
    display: block;
}

.message .message-text{
    padding: 16px;
}


.message_hour{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 20px;
}

.message .hour{
    font-size: 10px;
    padding: 5px;
}


.message.sent{
    background: lightgreen;
    align-self: flex-end;
    margin-right: 20px;
}

.message.received{
    background: white;
    align-self: flex-start;
    margin-left: 20px;;
}

.message.no_messages{
 display: none;
}

/* __________INPUT_MANDA_MESSAGGIO____________ */
.writemessage-box{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f0f0;
}

.writemessage-box i{
    font-size: 25px;
    margin: 0 20px;
    color:grey;
}

.writemessage-box input{
    width: 85%;
    height: 50%;
    border: none;
    outline: none;
    border-radius: 5px;
}
